.hero {
    /* Sizing */
    width: 100vw;
    height: 60vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: black;
    /* ADD THIS LINE */

    /* Background styles */
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)), url('https://images.unsplash.com/photo-1572726729207-a78d6feb18d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 150px;

    /* Padding and margins */
    padding: 7px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    background-color: #FCF7F4;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    border: 2px black solid;
}

.hero .btn:hover {
    background-color: black;
    color: #FCF7F4;
    text-decoration: none;
    font-size: 1.1em;
}

/* Not Found */
.not-found {
    /* Sizing */
    width: 50vw;
    height: 70vh;

    /* Flexbox stuff */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    /* Text styles */
    text-align: center;
    color: black;
}